

.page-home {
  @apply .w-screen;
  @apply .min-h-screen;
  @apply .flex;
  @apply .flex-col;

  @screen lg {
    @apply .flex-row;
    @apply .items-center;
    @apply .justify-center;
  }

  &>section {
    @apply .w-full;
    @apply .min-h-screen;

    @screen lg {
      @apply .w-1/2;
      @apply .h-screen;
    }

    @screen 2xl {
      @apply .w-1/2;
      @apply .h-screen;
      @apply .min-h-0;
      @apply .max-w-3xl;
      max-height: 42rem;
    }
  }

  &__lead {
    @apply .flex;
    @apply .flex-col;
    @apply .px-8;
    @apply .py-40;
    @apply .relative;

    @screen lg {
      @apply .px-20;
      @apply .pt-48;
    }

    @apply .bg-gray-100;
    /* background: linear-gradient(-42deg, theme('colors.yellow.400') 50%, theme('colors.gray.100') 50%); */

    h1 {
      @apply .w-full;
      @apply .text-5xl;
      @apply .leading-none;
      @apply .font-bold;
      @apply .font-rubik;

      @screen lg {
        @apply .w-2/3;
      }

      span {
        @apply .font-serif;
        @apply .font-bold;
        @apply .text-yellow-400;
      }
    }

    p {
      @apply .mt-3;
      @apply .text-xl;
      @apply .font-rubik;
      transition: color .3s easeOutQuart;
    }
  }

  &__to-blog {
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    @apply .absolute;
    @apply .cursor-pointer;

    @screen lg {
      @apply .hidden;
    }
  }


  &__recent-posts {
    @apply .w-full;
    @apply .px-8;
    @apply .pt-32;

    @screen lg {
      @apply .h-full;
      @apply .relative;
      @apply .px-20;
      @apply .pt-48;
    }


    h2 {
      @apply .text-3xl;
      @apply .leading-none;
      @apply .font-normal;
      @apply .font-rubik;
    }


    h3 {
      @apply .font-normal;
    }
  }
}